sudo: required

branches:
  only:
  - master

services:
- docker

language: java
dist: trusty

jdk:
- openjdk11

env:
- DOCKER_IMAGE=strimr/track-metadata

script:
- export PROJECT_VERSION=$(mvn help:evaluate -Dexpression="project.version" -q -DforceStdout)
- docker build -t "$DOCKER_IMAGE:$PROJECT_VERSION" -t "$DOCKER_IMAGE:$TRAVIS_COMMIT" .

after_success:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker push "$DOCKER_IMAGE"